body{
    margin:0;
    text-align: center;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
}
.taskWrapper{
    display: flex;
    width: 200px;
    margin-top: 10px;
}
.taskTittle{
    margin-left: 10px;
}
.close{
    margin-left: auto;
}