* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.NavLink{
    text-decoration: none;
    color: white;
    margin-right: 5px;
}
.active{
    margin-right: 5px;
    color: #b9b8b8;
    cursor: default;
}
