* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
.NavLink{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}
.active{
    color: #b9b8b8;
    cursor: default;
}
.page{
    min-height: 100vh;
}
